.comment-form-container {
    background: #F0F0F0;
    border: #e0dfdf 1px solid;
    padding: 20px;
    border-radius: 2px;
}
.comment-product .input-row {
    margin-bottom: 20px;
}

.comment-product .input-field {
    width: 100%;
    border-radius: 2px;
    padding: 10px;
    border: #e0dfdf 1px solid;
}

.comment-product .btn-submit {
    padding: 10px 20px;
    background: #333;
    border: #1d1d1d 1px solid;
    color: #f0f0f0;
    font-size: 0.9em;
    width: 100px;
    border-radius: 2px;
    cursor:pointer;
}

.comment-product #output .outer-comment ul {
    list-style-type: none;
    margin-left: 3em;
}

.comment-product .comment-row {
    border-bottom: #e0dfdf 1px solid;
    margin-bottom: 15px;
    padding: 15px;
}


.comment-product .outer-comment {
    background: #F0F0F0;
    padding: 20px;
    border: #dedddd 1px solid;
}

.comment-product span.commet-row-label {
    font-style: italic;
}

.comment-product span.posted-by {
    color: #09F;
}

.comment-product .comment-info {
    font-size: 0.8em;
}
.comment-product .comment-text {
    margin: 10px 0px;
}
.comment-product .btn-reply {
    font-size: 0.8em;
    text-decoration: underline;
    color: #888787;
    cursor:pointer;
}
.comment-product #comment-message {
    margin-left: 20px;
    color: #189a18;
    display: none;
}
#form_reply{
    display: none;
    margin-top: 5px;
}